<% content_for :page_title do %>
  <%= t(:editing_currency_converter) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('back_to_currency_converters'), collection_url, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for(:currency_converter, :url => object_url, :html => { :method => :put }) do |f| %>
	<fieldset class="no-border-top">
	  <%= render 'form',  :f => f %>
    <%= render 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
