<%= render(:partial => "/spree/admin/shared/configuration_menu") %>
<% content_for :page_title do %>
  <%= t(:list_currency) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t("add_currency"), new_object_url, :icon => 'icon-plus' %>
  </li>
<% end %>

<table class="index">
  <colgroup>
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
    <col style="width: 20%">
  </colgroup>
  <thead>
  	<tr>
      <th><%= t("currency_name")%></th>
      <th><%= t("currency_code")%></th>
      <th><%= t("currency_locale")%></th>
      <th><%= t("currency_basic")%></th>
  	</tr>
  </thead>
  <tbody>
    <% @currencies.each do |currency|%>
    <tr id="<%= dom_id currency %>">
      <td width="350px"><%= currency.name %></td>
      <td>
        <%= currency.num_code %> - <%= currency.char_code %>
      </td>
      <td> <%= currency.locale(false) %></td>
      <td> <%= currency.basic %></td>
      <td class='actions'>
      	<%= link_to_edit currency, :no_text => true %>
	      <%= link_to_delete currency, :no_text => true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>